<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Auto-tests-otus" parallel="classes" thread-count="4">

<!--
    <listeners>
        <listener class-name="TestNGListn.Sberb2bListener"/>
    </listeners>
-->


    <test name="homePage-tests">

<!--
        <parameter name="hostname" value="https://otus.ru/" />
        <parameter name="login"  value="kmarys@mail.ru" />
        <parameter name="pwd"  value="otusstreb82" />
-->


        <classes>
            <class name="lab8.testotus.Lab7Tests"/>
        </classes>
    </test>
</suite>